body {
  font-family: "游明朝";
}

a {
  text-decoration: none;
  color:rgb(90,194,217);
}

p {
  line-height:35px;
}

h2{
  font-size:35px;
  font-weight:normal;
  letter-spacing: 2px;
  padding-top:70px;
  padding-bottom:70px;
}

header {
  height: 60px;
  width: 100%;
  background-color:white;
  position:fixed;
  top:0;
  z-index:10;
}

li:link{
  text-decoration:none;
}

header li{
  list-style:none;
  line-height:60px;
  color:rgb(90,194,217);
  width: 100%;
  height: 100%;
  padding:20px;
  margin-top:100px;
}

.inline {
  text-align:center;
}

.inline li {
	display: inline;
}

.title{
  position:absolute;
  background-color: rgba(90,194,217,0.8);
  width: 430px;
  height:200px;
  margin-top:400px;
}

.title h1{
  width:350px;
  color:white;
  font-weight: normal;
  letter-spacing: 5px;
  text-align:center;
  margin:40px auto 20px auto;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.title h3{
  font-weight: normal;
  font-size:28px;
  letter-spacing: 2px;
  text-align: center;
  color:white;
}

.home{
  position:relative;
  height:700px;
  width:700px;
  background:black;
  float:right;
  /*
  background-image:url(photos/top.JPEG);
  */
}

.home-container{
  width:1000px;
  height:700px;
  margin:200px auto 200px auto;
}

.home-wrapper{
  margin-top:60px;
  text-align:center;
}

/*プロフィール*/
.profile-container h2{
  color:white;
}

.profile-wrapper{
  background-color:rgb(90,194,217,0.8);
  width:100%;
  padding-bottom:70px;
}

.profile-container{
  text-align:center;
  }

.profile-comments{
  display: inline-block;
  text-align: left;
  width:700px;
}

/*デザイン*/
.design-container h2{
  color:rgb(90,194,217);
}

.design-wrapper{
  margin:0 auto;
  width:700px;
  padding-bottom:70px;
}

.bc-wrapper{
  text-align:center;
  margin:0 auto 30px;
}

.design-container{
  text-align:center;
}

.bc-comments{
  text-align:left;
  width:700px;
}

.bc-comments p{
  padding-left:15px;
}

.bc-comments h4{
  font-size:20px;
  border:1.5px solid rgb(90,194,217);
  padding:10px;
  margin-bottom:30px;
}

h5{
  border-bottom: 1.5px solid rgb(90,194,217);
  width:130px;
  text-align:center;
  font-style: normal;
  font-size:15px;
  margin-top:10px;
  margin-left:15px;
}

.bc-images{
  width:400px;
  margin-left: auto;
  margin-right:auto;
}

.bc-wrapper img{
  width: 25%;
  margin:10px;
}


/*オンラインショップ*/
.online-shop-container h2{
    color:white;
}

.online-shop-wrapper{
  background-color:rgb(90,194,217,0.8);
  width:100%;
  padding-bottom:70px;
}

.online-shop-container{
  text-align:center;
}

.online-shop-comments{
  text-align:left;
  width:700px;
  display: inline-block;
  margin-bottom:30px;
}

.online-shop img{
  padding-bottom: 30px;
}

.minne{
  background-color:rgb(255,255,255);
  color:rgb(90,194,217);
}

.creema{
  background-color:rgb(255,255,255);
  color:rgb(90,194,217);
}

.btn {
  display: inline-block;
  padding: 7px 100px;
  margin: 5px 10px;
/*background-color: rgb(90,194,217);
  opacity:0.8;*/
  border-radius: 5px;
  font-size:15pt;
}

.item-images{
  text-align:center;
  margin-top:30px;
  margin-left: auto;
  
  margin-right:auto;
  width:400px;
}

.item-images img{
 width:25%;
 margin:0 10px;
}

/*コンタクト*/

.contact{
  text-align:center;
  margin-bottom:100px;
}

.mailto{
  background-color: rgb(90,194,217,0.8);
  color:white;
  text-align: center;
  width:200px;
}

.mailto:hover{
  background-color:rgb(90,194,217,1);
  opacity:1;
}

footer{
  text-align: center;
  color:#757571;
  border-top: 1px solid rgb(90,194,217);
  padding-top:15px;
  padding-bottom:15px;
}

/*お問合せフォーム
.contact-form{
  text-align: left;
  margin:0 25%;
}

input,textarea{
  width:400px;
  margin-top:3px;
  margin-bottom:20px;
  padding:10px;
  font-size:15px;
  border:1px solid #dee7ec;
}

.contact-submit{
  width:400px;
  opacity:0.8;
  background-color: rgb(90,194,217);
  color:#fff;
  letter-spacing:3px;
}

.contact-submit:hover{
  opacity:1;

}
*/
